body {
    font-family: "Gill Sans", sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

div#photo{
   position: absolute;
    right: 25%;
    top: 10%;
}

th, td:hover {
    background-color: lightblue;
}

header {
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: lightblue;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

section {
    width: 900px;
    margin: auto;
}

dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

h2, h3 {
    margin: 15px 0 5px;
}

li {
    margin: 5px 0;
}

a:link.add, a:visited.add {
    color: black;
    border: 2px solid lightblue;
    padding: 15px 15px 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: url(../img/plus.png) no-repeat center left;
    background-size: 35px;
}

a:hover.add, a:active.add {
    background-color: lightblue;
    color: white;
}


a[href^="skype:"] {
    padding-left: 20px !important;
    background: url(../img/skype.png) no-repeat center left;
    background-size: 18px;
}

a[href^="mailto:"] {
    padding-left: 20px !important;
    background: url(../img/email.png) no-repeat center left;
    background-size: 18px;
}

a[href^="https://stackoverflow.com"] {
    padding-left: 20px !important;
    background: url(../img/overflowing.png) no-repeat center left;
    background-size: 18px;
}

a[href^="https://www.linkedin.com"] {
    padding-left: 20px !important;
    background: url(../img/linkedin.png) no-repeat center left;
    background-size: 18px;
}

a[href*="github."] {
    padding-left: 20px !important;
    background: url(../img/github.png) no-repeat center left;
    background-size: 18px;
}
